body {
    nav {
        height: 60%;
        display: flex;
        flex-direction: column;

        label {
            display: block;
            height: 15%;
            align-items: center;
            display: flex;
            background-color: rgb(30, 30, 30);
        }

        .menu {
            padding-left: 5%;
            align-items: center;
            display: flex;
        }

        ul {
            flex-direction: column;
            display: none;
            background-color: rgba(0, 0, 0, 0.384);

            li {
                background-color: rgba(30, 30, 30, 0.836);
                width: 80%;
                margin: 5%;
                border: 1px solid rgb(168, 151, 0);
            }
        }

        i {
            font-size: 2rem;
        }

        input#boton:checked+ul {
            display: flex;
        }
    }

    .cajaBio {
        top: 6%;
        width: 95%;
        height: 19%;

    }


    .contenedor,
    .contenedor2 {
        width: 95%;
        padding-top: 25%;


        .box {
            width: 24%;
            height: 6rem;
            margin: 4%;
        }





    }


    .img1 {
        width: 90%;
    }

    .juanes {
        width: 80%;
    }
}