body {
    nav {
        height: 60%;
        display: flex;
        flex-direction: column;

        label {
            display: block;
            height: 15%;
            align-items: center;
            display: flex;
            background-color: rgb(36, 36, 36);
        }

        .menu {
            padding-left: 5%;
            align-items: center;
            display: flex;
        }

        ul {
            flex-direction: column;
            display: none;
            background-color: rgba(0, 0, 0, 0.384);

            li {
                background-color: rgba(20, 20, 20, 0.712);
                width: 80%;
                margin: 4%;
                border: 1px solid rgb(168, 151, 0);
            }
        }

        i {
            font-size: 2rem;
        }

        input#boton:checked+ul {
            display: flex;
        }
    }

    .contenedor,
    .contenedor2 {
        width: 95%;
        margin-top: 10%;


        .box {
            width: 24%;
            height: 6rem;
            margin: 4%;
        }





    }

    .cajaBio {
        display: none;
    }

    .img1 {
        width: 90%;
    }

    .juanes {
        width: 80%;
    }
}