body {
    nav {
        height: 50%;
        display: flex;
        flex-direction: column;

        label {
            display: block;
            height: 15%;
            align-items: center;
            display: flex;
            background-color: rgb(36, 36, 36);
        }

        .menu {
            padding-left: 5%;
            align-items: center;
            display: flex;
        }

        ul {
            flex-direction: column;
            display: none;
            background-color: rgba(0, 0, 0, 0.384);

            li {
                width: 80%;
                margin: 3%;
            }
        }

        i {
            font-size: 2rem;
        }

        input#boton:checked + ul {
            display:flex;
        }
    }

    .contenedor { 
        width: 95%;
        margin-top: 10%;
    }

    .cajaBio {
        display: none;
    }

    .img1 {
        width: 90%;
    }

    .juanes {
        width: 80%;
    }
}
